{% extends "base.html" %}
{% block body %}
<header>
	<h1>Add Blurb</h1>
	<h4>Configure options for your blurb</h4>
</header>
<main ng-controller="AddBlurbController">
	<ul class="collection">
		<li class="collection-item">
		    <div class="row">
		        <div class="col s12 m4">
		            <h5>Namespace ID</h5>
		        </div>
		        <div class="col s12 m8 input-field">
					<select ng-model="data.namespaceID">
					{% for namespace in data.namespaces %}
					<option value="{{namespace}}">{{namespace}}</option>
					{% endfor %}
					</select>
		            <!-- input type="text" ng-model="data.namespaceID" id="namespaceID">
		            <label>Enter a unique identifier</label -->
		        </div>
		    </div>
	    </li>
		<li class="collection-item">
		    <div class="row">
		        <div class="col s12 m4">
		            <h5>Blurb ID</h5>
		        </div>
		        <div class="col s12 m8 input-field">
		            <input type="text" ng-model="data.blurbID" id="blurbID">
		            <label>Enter a unique identifier</label>
		        </div>
		    </div>
	    </li>
	    <li class="collection-item">
		    <div class="row">
		        <div class="col s12 m4">
		            <h5>Content</h5>
		        </div>
		        <div class="col s12 m8 input-field">
		            <textarea class="materialize-textarea" ng-model="data.content" required></textarea>
		            <label>Enter content</label>
		        </div>
		    </div>
	    </li>
	    <li class="collection-item">
	    	<div class="right-align">
    			<a href="#" class="btn waves-light waves-effect" ng-click="submit()">Save</a>
	    	</div>
	    </li>	    
    </ul>
</main>
{% endblock %}
