{% extends "base.html" %}
{% block body %}
<header>
	<h1>Add Namespace</h1>
	<h4>Configure options for your namespace</h4>
</header>
<main ng-controller="AddNamespaceController">
	<ul class="collection">
		<li class="collection-item">
		    <div class="row">
		        <div class="col s12 m4">
		            <h5>Namespace ID</h5>
		        </div>
		        <div class="col s12 m8 input-field">
		            <input type="text" ng-model="data.namespaceID" id="namespaceID">
		            <label>Enter a unique identifier</label>
		        </div>
		    </div>
	    </li>
	    <li class="collection-item">
		    <div class="row">
		        <div class="col s12 m4">
		            <h5>Description</h5>
		        </div>
		        <div class="col s12 m8 input-field">
		            <textarea class="materialize-textarea" ng-model="data.description" required></textarea>
		            <label>Enter a description</label>
		        </div>
		    </div>
	    </li>
	    <li class="collection-item">
	    	<div class="right-align">
    			<a href="#" class="btn waves-light waves-effect" ng-click="submit()">Save</a>
	    	</div>
	    </li>
	    
    </ul>
</main>
{% endblock %}
