{% extends "base.html" %}
{% block body %}
<header>
	<h1>Thousandblurbs Dashboard</h1>
</header>
<main ng-controller="DashboardController">
<div id="chart-container" style="display:none">
<h5>Manage Your Instance</h5>
<div class="row">
	<div class="col s12 m4">
		<a href="/admin/namespace/">
			<div class="card-panel center-align hoverable">
				Namespaces
			</div>
		</a>
	</div>
	<div class="col s12 m4">
		<a href="/admin/forms/">
			<div class="card-panel center-align hoverable">
				Form Submissions
			</div>
		</a>
	</div>
	<div class="col s12 m4">
		<a href="/admin/settings/">
			<div class="card-panel center-align hoverable">
				Settings
			</div>
		</a>
	</div>
</div>
<h5>Form Submissions by Namespace</h5>
<div google-chart chart="myChartObject" style="height:450px; width:100%;" class="z-depth-1"></div>
</div>
<h5 id="no-chart-data" style="display:none">No form submission data has been collected.</h5>
<br>
</main>
{% endblock %}
