{% extends "base.html" %}
{% block body %}
<header>
	<h1>View Submission</h1>
</header>
<main ng-controller="ViewSubmissionController">
<p class="controller-detail">Form Submission ID: {{data.formID}}</p>
<ul class="collection">
	<li class="collection-item">
		<h5>Date Submitted: {{data.datetime}}</h5>
	</li>
	<li class="collection-item">
		<h5>Namespace: {{data.namespaceID}}</h5>
	</li>
	<li class="collection-item">
		<h5>Form Data</h5>
		<json-formatter open="1" json="{{data.data}}"></json-formatter>
	</li>
	<li class="collection-item">
		<h5>Client IP Address: {{data.clientIP}}</h5>
	</li>
</ul>
<div class="fixed-action-btn">
	<a class="btn-floating btn-large">
		<i class="fa fa-gear"></i>
	</a>
	<ul>
		<li><a ng-click="delete('{{ data.key }}')" target="_blank" class="btn-floating" title="Delete Submission"><i class="fa fa-trash-o"></i></a></li>
	</ul>
</div>
</main>

{% endblock %}
