<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/assets/build/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app"></div>
  <script>
    window.APP_DATA = {
      user_email: '{{data.context.user_email}}',
      api_key: '{{data.context.api_key}}',
      allowed_domains: '{{data.context.allowed_domains}}',
      url_root: '{{data.url_root}}',
      host: '{{data.context.host}}'
    };
  </script>

  <!--
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.1/vue-router.min.js"></script>
  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit-icons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ace.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/mode-markdown.js"></script>
  <script src="/assets/build/admin.build.js"></script>
</body>
</html>

