$white: #fff;
$primary-color: #D9421E;
$secondary-color-1: #186789;
$secondary-color-2: #169C4C;
$complement-color: #D9811E;
$darkgrey: #000;
$lightgrey: #eeeeee;

// container

$container-max-width: 960px  !default;

// nav
// $nav-background-color: $white;

$font-body: 'Source Sans Pro', sans-serif;
$heading-font: 'Roboto', sans-serif;
