@import '../../bower_components/materialize/sass/components/color';
// import variables
@import "_variables";

@import '../../bower_components/materialize/sass/materialize';
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:300|Open+Sans');
@mixin body-font {
    font-family: 'Open Sans', sans-serif;
}

@mixin heading-font {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

body {
    @include body-font;  
}

h1,h2,h3,h4,h5 {
    @include heading-font;
    font-weight: 300;
}

header, main, footer {
  padding-left: 300px;
  
  @media #{$medium-and-down} {
      padding-left: 0;
  }
}

header {
    //@extend .deep-orange, .darken-2;    
    background-color: $primary-color;
    @extend .z-depth-1;
    color: white;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    
    h1,h2,h3,h4,h5 {
        margin: 0;
        padding-bottom: 10px;
    }
}

.admin-container {
    background-color: color('grey','lighten-4');
    min-height: 100vh;
    position: relative;
}

main {
    @extend .container;
    width: 95% !important;
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 300px;
}

.brand {
    text-transform: uppercase;
    @include heading-font;
}

#slide-out {
    @extend .z-depth-3;
    background-color: color('grey','lighten-3');
    .brand {
        text-align: center;
        font-weight: bold;
        background-color: $primary-color-dark;
        color: white;
        position: relative;
        @extend .z-depth-1;
    }
    .collapsible-header {
        font-weight: bold;
    }
    li {
        a:hover {
            background-color: color("amber", "lighten-5");
        }
    }
}

footer.page-footer {
    padding-top: 0;
    p {
        margin: 0;
        padding: 10px 0;
    }
    a {
        color: #fff;
        text-decoration: underline;
        
        &:hover {
            color: #fff;
        }
    }
}

// login page
body.login {
    background-image: linear-gradient(color('grey','lighten-5'),color('grey','base') 95%);
    
    position: relative;
    header, main, footer {
        padding-left: 0;
    }
    
    @media #{$medium-and-up} {
        height: 100vh;
        
        footer {
            width: 100%;
            position: absolute;
            bottom: 0;
            
        }
        
    }
}

@media #{$small-and-down} {
    h1 {
        font-size: 2.25rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1.25rem;
    }

}

ul.collection {
    @extend .z-depth-1;
    
    li.collection-item {
        .row {
            margin-bottom: 0;
            display: flex;
            flex-wrap: wrap;
            
            .col {
                display: flex;
                align-items: center;
            }
        }
    }
    li:nth-child(even){ 
        background-color: color('grey','lighten-5');
    }
}