{% extends "base.html" %}
{% block content %}
<section class="container">
	<article class="block">
		<section class="block text-center">
			<img class="img" src="/assets/images/thousand.png" alt="Thousandblurbs">
			<h1>A Google App Engine + Flask Web Application Starter Kit</h1>
			<p><small>VERSION 0.2.0</small></p>
			<a href="http://github.com/cpearson3/thousandblurbs" class="btn"><i class="fa fa-document"></i> View Docs</a>
		</section>
		
		<h2>What is Thousandblurbs?</h2>
		<p>Thousandblurbs is a web application starter kit built for the cloud using Google App Engine, <a href="http://flask.pocoo.org/" target="_blank">Flask</a>, and Bootsmooth.</p>

		<h2>What kind of web applications can you build with Thousandblurbs?</h2>
		<ol>
			<li>Small, fast websites and landing pages with free hosting quota*</li>
			<li>Form collection with administrative interface</li>
			<li>Backend micro services and data collection API for mobile apps</li>
			<li>Complete, full-stack web applications</li>
		</ol>
		<small>* Google App Engine offers a free usage tier (as of Jan 2017)</small>
		<h3>Features include:</h3>
		<ul>
			<li>Sass-based stylesheet built with <a href="https://bootsmooth.com" target="_blank">Bootsmooth</a></li>
			<li>Customizable <a href="http://jinja.pocoo.org/docs/2.9/" target="_blank">Jinja2 templates</a> for web pages and admin dashboard</li>
			<li>Form capture service and maintenance using <a href="https://cloud.google.com/datastore/docs/">Google Cloud Datastore</a></li>
		</ul>
		<a href="http://github.com/cpearson3/thousandblurbs" class="btn"><i class="fa fa-document"></i> View Docs</a>
	</article>
</section>
{% endblock %}
