{% extends "base.html" %}
{% block content %}
<header>
	<div class="container">
		<h1>Thousandblurbs</h1>
		<h2>{{data.context.description}}</h2>
	</div>
</header>
<section class="bg">
<div class="container" style="max-width: 600px; padding: 25px 0">
	<div class="card hoverable">
		<div class="card-content">
			<span class="card-title">Login with your Google Account</span>
			<p>You must have <em>administrative rights</em> in order to access this application.</p>
		</div>
		<div class="card-action">
			<a href="/admin/">Login <i class="fa fa-sign-in"></i></a>
			<a href="https://thousandblurbs.com">What is Thousandblurbs <i class="fa fa-question"></i></a>
		</div>
	</div>
</div>
</section>
{% endblock %}
